* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #2e070036;
}

.wrapper {
  width: 45%;
  margin: 24px auto;
  padding: 32px 48px;
  border-radius: 8px;
  background-color: #efefef;
}

nav {
  background-color: #703636;
  padding-left: 180px;
  border-radius: 8px;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

a {
  text-decoration: none;
  cursor: none;
  color: #faf4f4;
}

h1,
h2 {
  color: #0c0303;
}

h1,
h2,
h3,
h4,
p {
  padding: 8px 0;
}

h1,
h2,
h3,
h4 {
  text-align: center;
}

img {
  margin: 0 auto;
  width: 100%;
  height: 344px;
  object-fit: cover;
}

li {
  line-height: 1.9;
}

ol li {
  font-size: 1em;
}

footer {
  background-color: #3bc36f;
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
}

footer h3 {
  text-align: center;
}

footer p {
  display: inline-block;
  width: 70%;
  color: #050404;
  background-color: rgb(226, 219, 219);
  margin-left: 95px;
  padding-left: 10px;
  font-size: 1em;
}
